* {
    box-sizing: border-box;
}

@font-face {
    font-family: "source_sans_proregular";
    src: url(../assets/SourceSansPro-Regular.otf) format('otf');
    src: url(../assets/sourcesanspro-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "quicksand_bold";
    src: url(../assets/quicksand-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "quicksand_regular";
    src: url(../assets/quicksand-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "source_sans_proregular";
}

h1 {
    font-family: "quicksand_bold";
    font-size: 4rem;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 1rem 2rem; 
    background: #EFBAD3;
    background: -moz-linear-gradient(top, #EFBAD3 0%, #A254F2 100%);
    background: -webkit-linear-gradient(top, #EFBAD3 0%, #A254F2 100%);
    background: linear-gradient(to bottom, #EFBAD3 0%, #A254F2 100%);
}

h2, h3 {
    font-family: "quicksand_regular"
}

/* Tamaño en em es con respecto al padre del elemento */
.content-wrapper {
    font-size: 1.1rem;
}

section.centrada{
    font-size: 0.8em;
    width: 83.8%;
    margin-left: auto;
    margin-right: auto;
}

section.centrada p {
    font-size: 0.9rem;
    padding: 1em;
    border: 1px solid grey;
}

/*********************************
Espacios FLOAT
**********************************/

section.espacios {
    margin: 2rem;
    background-color: coral;
    
}

.espacios h2 {
    padding: 1rem;
}

.espacios p {
    padding: 1rem;
    background-color: rgb(255, 250, 187);
    width: 30%;
    margin-left:2.5%;
    float: left;
    vertical-align: top;
}


@media screen and (max-width: 690px) {
    .espacios p  {
        float: left;
        width: 100%;    
   }

   .espacios p:last-of-type{
    margin-right: ;
    }

    .espacios::after {
        content: "";
        display: block;
        clear: both;
    }

}

/*********************************
Flex
**********************************/
.flex { 
    margin: 2rem;
    background-color: coral;
}

.flex  p{
    padding: 1rem;
    background-color: rgb(255, 250, 187);
}

.flex h2 {
    padding: 1rem;
    display: inline-block;
    text-shadow: 10px 10px 10px rgb(26, 25, 25);
}
/* Los margenes se ajustan al 100% en el caso de flex */


@media screen and (min-width: 690px) {
    .flexwrapper {
        display: flex;
        }

        .flex  p{
            margin-left: 2.5%;
            box-shadow: 5px 5px 5px 5px rgb(43, 42, 42)
        }
        .flex p:last-of-type{
            margin-right: 2.5%;
        }
}

.ribbon {
    width: 0px;
    height: 60px;
    border-left: 25px solid #d9534f;
    border-right: 25px solid #d9534f;
    border-bottom: 17.5px solid transparent;
    display: block;
    margin: 0 auto;
}


