body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    background-color: blueviolet;
    color: white;
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TRANSIT */

div.transit {
    /* Cualquier propiedad con valor numérico es transicionable. */
    transition-property: all;
    transition-duration: 6s;
    /* transition-delay: 2s; */
    transition-timing-function: cubic-bezier(ease-out);

}

p.boton:hover+div {
    background-color:white;
    color:blueviolet;
    font-size: 5rem;
}

/* TRANSFORM */

div.transform {
    transition-property: all;
    transition-duration: 6s;
  /*   transition-timing-function: cubic-bezier(ease-out); */
}

p.btn_escalar:hover+div {
  transform: scale(2);
}

p.btn_rotar:hover+div {
    transform: rotate(180deg);
    transform-origin: bottom; /* ! */
  }

  p.btn_inclinar:hover+div {
    transform: skew(20deg)
  }

  p.btn_trasladar:hover+div {
    transform: translate(2em)
  }

  /* BOTONES */


  /*  */

  /* Hermano adjacente */
.defer p:hover {
  background-color: aquamarine;
}

.defer p:hover~div /* Todos los hermanos */ {

}

.defer p:before {
  /* content: ""; */
  content:open-quote;
}

.defer p:after {
/*   content: ""; */
  content:open-quote;
}


/*******************
Transformaciones 3D
********************/
section.tresd {
  perspective: 500px;
}

p.btn-tresd:hover+div {
 transform: translateZ(1rem);
 
}