body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(221, 221, 221);
}

header {
    background-color: blueviolet;
    color: white;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section.flex {
    display: flex;
    flex-wrap: wrap;/* Ajuste el contenido a la pantalla */
    /* flex-direction: row-reverse; */ /* coloca al revés a la dcha */
    /* flex-direction: column; */ /* lineas */
    /* flex-direction: column-reverse; */ /* ordena de abajo hacia arriba */
    flex-direction: row;
    min-height: 60vh;
    justify-content: flex-start; /* Comportamiento inicial */
    justify-content: flex-end; /* Colocando los elementos al final */
    justify-content: center; /* !!!! centra */
    justify-content: space-between; /* Se reparten los elementos a lo ancho de la pantalla */
    justify-content: space-around; /* Mismo que el anterior pero con mas margen */

    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;

    /* Afecta cuando existen varias lineas de contenido */
    align-content: flex-start; /* Valor por defecto */
    align-content: center; 
    align-content: space-between;
    align-content: space-around;
}

section.flex div{
    font-size: 4rem;
    padding: 1rem;
    background-color: darksalmon;
    margin: 0.5rem;
}

section.flex div:nth-of-type(4){
font-size: 6rem;
}
