body {
    margin: 0;
}
.main_header {
    background-color: lavenderblush;
    color: darkblue;
    text-align: center;
    padding: 1rem;
}

.main_header p {
    font-weight: bold;
}

.main_footer {
    background-color: lavenderblush;
    color: darkblue;
    text-align: center;
    padding: 1rem;
}

.content_wrapper {
    margin: 1rem 2rem;
}

.image_wrapper {
    text-align: center;
}

 /* Se adapta la imagen al ancho máximo de la pantalla */
img {
    max-width: 100%;
}

p {
    text-align: justify;
}

figure {
    margin: 0;
}