body {
    margin: 0;
    background-color: cornsilk;
}
.main_header {
    background-color: lavenderblush;
    color: darkblue;
    text-align: center;
    padding: 1rem;
}

/* Todo el menu se alinea  con valor - */
.main_header nav{
    margin-left: -1rem; 
    text-align: left;
}

.main_header nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.main_header nav li{
    display: inline-block;
}

/* El padding se pone en los <a> para que la superficie clickable sea más grande */
.main_header a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.main_header p {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;
}

.main_footer {
    background-color: lavenderblush;
    color: darkblue;
    text-align: center;
    padding: 1rem;
}

.content_wrapper {
    margin: 1rem 2rem;
}

.image_wrapper {
    text-align: center;
}

 /* Se adapta la imagen al ancho máximo de la pantalla*/   
img {
    max-width: 50%;
}  


p {
    text-align: justify;
}


pre {
    font-family: inherit;
}

blockquote {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-width: 60%;
    margin: 20px;
    padding: 20px;
    background: #ccc;
    border-left:3px solid grey;
}

blockquote footer {
    margin-top: 0.5rem;
    border-top: 1px solid grey;
    padding-top: 0.3;
    max-width: fit-content;
}

/* 
li {
    list-style-type: disc;
}
 */

 dt, dd {
     display: inline-block;
 }


 /* 7 MAYO */

 footer a  {
     color: inherit;
 }

 footer p{
     text-align: center;
 }
 .verde {
     color: lime;
 }

 strong {
     font-weight: normal;
 }

  /*
 img {
     Comportamiento por defecto de las imágenes 
     display: inline-block;
 }
 */

 .imagenes img {
     max-width: 15%;
     /* margin-left: -4px;  o por flotación*/
     display: block;
     float: left;
     padding: 10px;
 }

 .clearfix {
     clear: both;
 }

 figure {
    margin: 0;
}

.web_external {
    width: 100%;
    height: 60vh;
}

/* viewport height vh */

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

video {
    max-width: 100%;
}