html(lang=language})
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hola pug
    body
        header
            h1 holi pug
        section
            p. 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Saepe aperiam ipsum eaque non error praesentium libero exercitationem perspiciatis nihil unde odio omnis corporis, 
            distinctio commodi maxime quae numquam quia voluptatum?
        footer
            address #{author}