//no se compila en css
//https://styde.net/lista-completa-de-funciones-nativas-de-sass/

$color-back: cadetblue;
$color-text: white;
$margin-base: 1rem;

//función con una serie de valores que puedes invocar donde lo necesites
@mixin sin_mvert {
    margin-top: 0;
    margin-bottom: 0;
}

@mixin colores_invertidos($oscuro: 20, $claro: 20) {
    background-color: darken($color-back, $amount: $oscuro);
    color: lighten($color-back, $amount: $claro);
}

section.intro {
    min-height: 60vh;
    margin: 2rem;
    header {
    background-color: $color-back;
   /*  background-color: darken($color-back, $amount:10); */
    color: $color-text;
    @import './parrafo';
    }
}

//Agrupar conjunto de características comunes >> combinación de selectores
.main {
    
    background-color: $color-back;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav {
    ul{
        margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    }
    a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
    }
}


body {
    margin:($margin-base + $margin-base)/2 - $margin-base; //0 jajaja
    display: grid;
    grid-template-rows: 2fr auto 1 fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    >header /* podría ser .main-header tmb */{
        @extend .main ; // aplicación de la combinacion de selectores
        h1 { /* puede estar fuera o dentro de la anidación */
        @include sin_mvert();
        // mixin margin-top: 0; margin-bottom: 0; 
        padding-top: 2rem;
        padding-bottom: 2rem;
        }
    }
}

.form-group {
    padding: 1rem;
}

.form-group label,
.form-group input,
.form-group textarea {
    display: block;
    width: 100%;
}

.form-group input,
.form-group textarea {
    border: none;
    border-bottom: 1px solid rgba(169, 169, 169, 0.65)
}

.main-footer {
    background-color: $color-back;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


section.samples {
    margin: 2.6rem;
    header{
        @include colores_invertidos(20, 20); //ver linea 14
    }
}


/* 
.main-header {
    background-color: beige;
    color: grey;
}

.main-footer {
    background-color: beige;
    color: grey;
} */
